[Desktop Entry]
Name=Spotify TUI
GenericName=Command Line Spotify Player
Exec=spt
Comment=Spotify for the terminal written in Rust
Icon=spotify
Type=Application
Terminal=true
StartupNotify=false
Categories=Music;
